<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h1>后台管理菜单</h1>
<ul>
  <li><%=link_to "用户注册信息","/admin/users"%></li>
  <li><%=link_to "团品列表","/admin/products"%></li>
  <li><%=link_to "商家留言信息","/admin/sellsers"%></li>
  <li><%=link_to "意见反馈列表","/admin/feedbacks"%></li>

</ul>
