#product_quantity {
	text-align: center;
	height: 30px;
	width: 40px;
	border: 1px solid #F60;
}
#order_price {
	font-size: 14px;
	font-weight: bold;
	color: #900;
	float: left;
	width: 80px;
	height: 30px;
	border: 1px solid #F4F4F4;
	margin: 0px;
	padding: 0px;
}
#submit {
	background-color: #900;
	width: 100px;
	height: 30px;
}
table .bg_title {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #F60;
}
#form1 table {
	border: 1px solid #999;
}
