@charset "utf-8";
.price3 {
	font-size: 2em;
	font-weight: bold;
	color: #FFC;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}
#form_day input {
	width: 34px;
	height: 25px;
	color: #F30;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.side_bar {
	padding: 4px;
	border: 2px solid #FFC;
	margin-bottom: 20px;
	background-image: url(../../img/bg_side_bar.png);
	background-repeat: repeat-x;
	color: #666;
}
.side_bar h3{
	background-color: #F90;
	font-size: 14px;
	color: #FFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	letter-spacing: 0.3em;
}
#topnav #logo{
	float:right;
	margin-bottom:-40px;
	z-index: 20;
	position: absolute;
	top:0px;
	left:810px;
}
