<%#
# 忘记密码
%>
<div id="content">
    <div class="box" id="about">
         <div class="box-top"></div>
    <div class="box-content">
     

<% if flash[:notice1] %>
 <div class="head"><h2>操作成功</h2></div>
 <div class="sect note">
   <%= flash[:notice1]  %>
 </div></div></div></div>
<% else %>
<div class="note"><%=flash[:notice]%></div>
<script languange="javascript">
  $(document).ready(function(){
    $("#mailForm").validate();
  });
</script>
<div class="head"><h2>取回密码</h2></div>
<div class="sect">
  <form method="post" action="/account/forget_password" id="mailForm">
    <%= tag(:input, :type => "hidden", :name =>request_forgery_protection_token.to_s, :value =>form_authenticity_token) %> 
    <div class="field email">
      <label class="f-label" for="reset-email">Email:</label>
      <input type="text" name="email" class="required email" id="reset-email" size="40" />
      <span class="hint">您用来登录的 Email 地址</span>
    </div>
    <div class="act">
      <input type="submit" class="formbutton" value="提　交" />
    </div> 
  </form>
</div></div></div></div>
<% end %>