  <div id="city">
    
    <ul>
     <li>
      <h3>2010年4月24日</h3>
      <p>仅售19元！原价55元的SPR COFFEE意大利肉酱面+罗宋汤或中杯美式咖啡套餐。</p>
      <div class="min_pic"><img src="images/yesterday20100424.jpg" width="200px"/></div>
      <div class="details">
       <p><span class="man-count">178</span>人购买</p>
       <p>
       	原价:<span class="original_price">¥55</span><br/>
        折扣:<span class="discount">5折</span><br/>
        现价:<span class="now_price">¥27.5</span><br/>
        节省:<span class="save_price">¥27.5</span><br/>
       </p>
      </div>

     </li>
     <li>
      <h3>2010年4月23日</h3>
      <p>仅280元！原价3000元，享受港台明星私家星座师，一对一星座亲算活动。</p>
      <div class="min_pic"><img src="images/yesterday20100423.jpg" width="200px"/></div>
      <div class="details">
       <p><span class="man-count">2366</span>人购买</p>
       <p>
       	原价:<span class="original_price">¥3000</span><br/>
        折扣:<span class="discount">0.9折</span><br/>
        现价:<span class="now_price">¥280</span><br/>
        节省:<span class="save_price">¥2270</span><br/>
       </p>
      </div>

     </li>
     <li>
      <h3>2010年4月22日</h3>
      <p>仅售228元包快递！原价380元的千与千寻—久石让·宫崎骏交响音乐会</p>
      <div class="min_pic"><img src="images/yesterday20100422.jpg" width="200px"/></div>
      <div class="details">
       <p><span class="man-count">234</span>人购买</p>
       <p>
       	原价:<span class="original_price">¥380</span><br/>
        折扣:<span class="discount">6折</span><br/>
        现价:<span class="now_price">¥228</span><br/>
        节省:<span class="save_price">¥152</span><br/>
       </p>
      </div>

     </li>

    </ul>
  </div>