<!-- begin: #col1 - first float column -->
<div id="col1" role="complementary">
  <div class="twoColFixLt" id="about">    <div id="container">
      <div id="faq">
                <div class="head"><h2>常见问题</h2></div>
                <div class="sect">
                    <ol class="faqlist">
                        <li>
                            <h4>团奥网是什么？</h4>
                            <p>团奥每天推出一单团品，团品包括吃、喝、玩、游、乐等各种丰富内容。
                            为您精选餐厅、酒吧、KTV、SPA、美发店、瑜伽馆等特色商家，只要凑够最低团购人数就能享受无敌折扣。
                            请看<a href="/about/guide">团奥是什么？</a>
                            </p>

                        </li>
                        <li class="alt">
                            <h4>今天的团购看起来不错，怎么购买？</h4>
                            <p>只需在团购截止时间之前点击"购买"按钮，根据提示下订单付费购买即可。如果参加团购人数达到最低人数下限，则团购成交，您将得到我们的短信或邮件通知。</p>
                        </li>

                        <li>
                            <h4>团奥网有哪些支付方式？</h4>
                            <p>目前支持以下支付方式：</p>
                            <div class="paytype">
                                <p class="alipay">通过支付宝拍下团品：</p>
                                <p class="chinabank">可以直接在<a href="#">团奥淘宝店</a>上拍得该团品</p>
                            </div>
                        </li>

                        <li class="alt">
                        <h4>团购成交后，我还能购买么？</h4>
                        <p>团购成交后，仍可以继续购买。但是请注意个别团购有数量上限，先买先得，卖完为止。 </p>
                        </li>

                        <li>
                            <h4>如果参加团购人数不足，怎么办？</h4>
                            <p>如果参加团购人数不足，则该次团购取消。已支付的款项，团奥网将立即返还。您不会有任何损失，但失去了以超低折扣价享受精品消费的机会。如果您很希望这次团购成交，邀请您的朋友一起来购买吧~</p>
                        </li>

                        <li class="alt">
                            <h4>什么是团奥券，怎么使用？</h4>
                            <p>团奥券是当团购成功后，您以手机短信方式获取，或者自行下载打印使用的消费凭证（其中包含唯一优惠密码）。当您去消费时，出示该短信或者打印的团奥券即可。</p>
                        </li>

                        <li>
                            <h4>使用团奥券时，能同时享用其他优惠么？</h4>
                            <p>一般不可以。如果可以，我们会在团购提示里特别说明。</p>
                        </li>

                        <li class="alt">
                            <h4>我购买的团奥券，可以给其他人使用么？</h4>
                            <p>当然可以！我们自己也会购买团奥券送给朋友，给他/她一个惊喜 :)</p>
                        </li>

                        <li>
                            <h4>如果遇到商家停业、搬家或是其他情况，造成无法消费的情况怎么办？</h4>
                            <p>我们会挑选经营状况良好的商家作为团奥网特约商家，一般不会出现这种情况。如果出现了，我们保证全额退款。</p>
                        </li>

                        <li class="alt">
                            <h4>我是商家，想在团奥网组织团购，怎么联系？</h4>
                            <p>欢迎可提供高品质服务或产品的优质商家、淘宝大卖家等成为团奥网特约合作伙伴，如您有意，请<a href="/sellers/new">联系我们</a>。</p>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
	</div>

 </div><!-- end: #col1 -->

<!-- begin: #col3 static column -->
<div id="col3" role="main">
  <div id="col3_content" class="clearfix">
    <div class="info"><!--side bar start-->
    <div id="sidebar">
        <div class="sbox-white">
            <div class="sbox-top"></div>
            <div class="sbox-content">
                <div class="side-tip-help">
                    <p>
                        <a href="http://www.meituan.com/learn"><img src="/images/faq-how-it-works1.gif"/></a><br/>
                        <span>A 每天推出一单精品消费！</span>
                    </p>
                    <p>
                        <a href="http://www.meituan.com/learn"><img src="/images/faq-how-it-works2.gif"/></a><br/>
                        <span>B 凑够一定人数就能享受无敌折扣...邀请朋友一起来买吧！</span>
                    </p>
                    <p>
                        <a href="http://www.meituan.com/learn"><img src="/images/faq-how-it-works3.gif"/></a><br/>
                        <span>C 明天再来看，又有新惊喜！</span>
                    </p>
                </div>
            </div>
            <div class="sbox-bottom"></div>
        </div>
    </div>
      <!--side bar end--></div>
  </div></
  <div id="ie_clearing">&nbsp;</div>
  <!-- End: IE Column Clearing -->
<!-- end: #col3 -->
</div>
