<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="about">
  <h2>团奥是什么？</h2>
<img src="/images/how-it-works1.gif"/><br/><br/>
<img src="/images/how-it-works2.gif"/><br/><br/>
<img src="/images/how-it-works3.gif"/>
</div>