<div id="about" class="box-content">
  <div class="head"><h2>关于团奥</h2></div>
  <div class="sect">
    <p class="caption">
      团奥网：每天团购一次，为消费者发现最值得信赖的商家，让消费者享受超低折扣的优质服务。 <br />
      每天一单团购，为商家找到最合适的消费者，给商家提供最大收益的互联网推广。
    </p>
    <dl>
      <dt>如果您是消费者：</dt>
      <dd>
        <ul class="list">
          <li>团奥每天帮您推荐一种优质的本地生活服务；</li>
          <li>团奥的推荐一定物超所值；</li>
          <li>团奥同时致力于帮您发现最好玩，最新鲜的生活方式；</li>
        </ul>
      </dd>
      <dt>如果您是商家：</dt>
      <dd>
        <ul class="list">
          <li>团奥有热爱尝试的消费者；</li>
          <li>团奥有保证效果的广告价值；</li>
          <li>团奥是您到达消费者的桥梁；</li>
        </ul>
      </dd>
    </dl>
    <h3 class="contact" id="contact">联系我们</h3>
    <dl class="contact">
      <dt>用户帮助</dt>
      <dd>
        <ul class="list">
          <li>如果您付款或消费遇到问题，请联系客服人员：</li>
          <li>邮箱：kenrome#gmail.com（请把#替换成@）</li>
          <li>QQ: 77632132</li>
        </ul>
      </dd>
      <dt>商务合作</dt>
      <dd>
        <ul class="list">
          <li>如果您希望在团奥网组织团购，请在线<a href="/sellers/new">提交团购信息</a>。</li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
