<div class="box-content" id="about">
  <div class="head"><h2>加入我们</h2></div>
  <div class="sect">
    <h3 class="caption">关于我们</h3>
    <ul class="faith">
      <li>我们是一群怀揣着一点点梦想的年轻人；</li>
      <li>我们是互联网的忠实信徒，相信世界正在因互联网而改变；</li>
      <li>我们崇信技术的力量,不断专注互联网技术；</li>
      <li>我们倾向于组建小而精悍的团队(2-5人)；</li>
      <li>我们喜欢快速反应的工作节奏；</li>
      <li>我们挚爱正在从事的工作，那是我们相当一部分的乐趣所在；</li>
      <li>我们热爱我们的用户，对用户的喜怒哀乐感同身受；</li>
      <li>我们的文化理念是: 激情,学习,简单,迅速；</li>
    </ul>
    <h3 class="caption">我们在寻找新成员</h3>
    <p class="joinus">我们的事业正在迅猛发展，诚邀和我们一样有梦想、有激情的年轻人加盟，共创未来。</p>
    <ul id="about-job-list" class="job-list">
      <li>
        <h3 class="job-title">市场合作者\销售代表</h3>
        <div class="job-desc">
          <p>招聘驻成都销售代表</p>
          <p>请问你是否：</p>
          <ol>
            <li>你有优异的表达能力和亲和力,善于说服他人接受自己的观点？</li>
            <li>坚信成功源自勤奋并为之孜孜努力？</li>
            <li>喜欢外出活动而不是在家里宅？or在网络上有很强的号召力，如QQ群、空间、开心、豆瓣、人人？</li>
            <li>热爱成都,喜欢城市生活,对城市里各种新鲜有趣的休闲娱乐场所如数家珍？</li>
          </ol>

          <p class="continue">如果你对以上几个问题的答案统统是"Yes!"，请投递简历给 kenrome#gmail.com(注：将"#"换成"@")。有互联网广告销售经验、广告从业经验者更佳，但非必要条件。</p>

          <h5>工作职责：</h5>
          <ol>
            <li>独立发现、调研各式各样本地商家特色服务；</li>
            <li>根据客户需求，制定个性化的营销方案，与商家谈判并达成合作；</li>
            <li>根据团购产品，制定宣传方案；</li>
          </ol>
        </div>
      </li>
      <li>
        <h3 class="job-title">网站编辑</h3>
        <div class="job-desc">
          <p>要求：</p>
          <ol>
            <li>热爱并擅长文字工作，专注细节，不放过哪怕是一个标点符号的错误； </li>
            <li>擅长摄影，拥有单反相机，擅长用photoshop进行图片处理和编辑； </li>
            <li>熟悉使用html语言，工作中需要简单使用； </li>
            <li>消费达人，喜欢看各种时尚消费类资讯，喜欢尝试新鲜事物；</li>
            <li>在新闻媒体、消费杂志、城市生活刊物等行业工作过者优先考虑。</li>
          </ol>
          <h5>工作职责：</h5>
          <ol>
            <li>通过搜索引擎、大众点评等消费类网站，对一家从未去过的商家有全面的了解，收集到完整的文字介绍、图片、视频、用户评价等资料；</li>
            <li>对商家（吃、喝、玩、游、乐等）进行消费体验，拍摄照片、收集资料；</li>
            <li>通过收集到的资料，将美团的团购项目用准确、生动的语言展现给用户。 </li>
          </ol>
          <h5>职位亮点：</h5>
          <ol>
            <li>影响力：你每天都有机会将你的创意和文字直接展现给数十万用户；</li>
            <li>趣味性：你有机会免费体验各式好玩、新潮的服务；</li>
            <li>挑战感：你面临的是一个快速发展的事业，个人的能力将得到全方位的发展</li>
          </ol>
          <p>感谢你的关注！</p>
        </div>
      </li>
    </ul>
  </div>
</div>
