 <div id="bdw" class="bdw"> <div id="bd" class="cf">
<div id="learn"><div id="content">
    <div class="box" id="about">
    <div class="box-top"></div>
    <div class="box-content">
      <div class="head"><h2>玩转团奥</h2></div>
      <div class="sect guide">
        <ul class="guide-steps">
          <li>
            <h3 class="step1">查看今日团品</h3>
            <p class="text">团奥每天推出一单团品，团品包括吃、喝、玩、游、乐等各种丰富内容。</p>
          </li>
          <li>
            <h3 class="step2">购买团品</h3>
            <p class="text">
              对今天的团品有兴趣？那就快购买吧！只要点击购买按钮，按照提示步骤进行就OK！
              <img src="/images/learn-guide-buy.gif" style="margin-left:-9px;" />
            </p>
            <div class="bubble">
              <div class="bubble-top">
                <ol class="buy">
                  <li>团购到截止时间就结束了，过期不候哦；有的团购还有数量上限，先到先得！</li>
                  <li>如果团购人数还不够？邀请好友一起来买吧，还能获 10 元返利。</li>
                  <li class="last">团购结束时人数还不够？我们会根据您的意愿:　1)将你的钱保存在团奥帐户中，方便你下一次团购，2)或立即全额退款。</li>
                </ol>
              </div>
              <div class="bubble-bottom"></div>
            </div>
          </li>
          <li>
            <h3 class="step3">获取团购凭据</h3>
            <p class="text">
              团购成交就可以去获取您的优惠凭证啦！团购次日的24小时内，我们会向商家提交用户清单，同时通知所有购买用户。
              <img src="/images/learn-guide-sample.gif" />
            </p>
            <div class="bubble">
              <div class="bubble-top">
                通过两种方式获得团购凭据：
                <ol class="coupon">
                  <li><strong>30人以上的团购，打印团奥券</strong><br/>
                    <p>
                      您可以点击打印按钮，直接打印团奥券</p>
                  </li>
                  <li><strong>发送手机短信</strong>
                    <p>我们会直接把团奥券验证码发送到手机上！通过验证码就可以到商家消费
                      <img src="/images/learn-guide-mobile.gif" />
                    </p>
                  </li>
                </ol>
              </div>
              <div class="bubble-bottom"></div>
            </div>
          </li>
          <li>
            <h3 class="step4">去商家消费</h3>
            <p class="text">
              在有效期内凭短信或打印版团奥券去商家消费，好好享受吧！
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div></div></div></div>
