<div id="maillist"  class="main_side">
  <DIV id="content">
    <DIV class="box">
      <DIV class="box-top"></DIV>
      <DIV class="box-content welcome">
        <DIV class="head">
          <H2>邮件订阅</H2>
        </DIV>
        <DIV class="sect">
          <DIV class="lead">
            <H3>把你所在城市每天最新的精品团购信息发到您的邮箱。</H3>
          </DIV>
          <DIV class="enter-address">
            <h1>订阅成功！</h1>
            <DIV class="clear"></DIV>
          </DIV>
          <DIV class="intro">
            <P>每日精品团购包括：</P>
            <P>选择优质特色商家，提供吃、喝、玩、游、乐等各种丰富内容。</P>
          </DIV>
        </DIV>
      </DIV>
      <DIV class="box-bottom"></DIV>
    </DIV>
  </DIV>
  <DIV id="sidebar" style="float:right;margin-top: -400px;">
    <DIV class="side-pic">
      <P><IMG src="/images/subscribe-pic1.jpg"></P>
      <P><IMG src="/images/subscribe-pic2.jpg"></P>
      <P><IMG src="/images/subscribe-pic3.jpg"></P>
    </DIV>
  </DIV>
</DIV>
