<div  class="main_side">
                <div class="head"><h2>隐私声明</h2></div>
                <div class="sect">
                    <p>团奥网（tuanao.com）以此声明对本站用户隐私保护的许诺。团奥网的隐私声明正在不断改进中，随着本站服务范围的扩大，会随时更新隐私声明。我们欢迎您随时查看隐私声明。</p>
                    <h4>隐私政策</h4>
                    <p>团奥网非常重视对用户隐私权的保护，用户的邮件及手机号等个人资料为用户重要隐私，团奥网承诺不会将个人资料用作它途；承诺不会在未获得用户许可的情况下擅自将用户的个人资料信息出租或出售给任何第三方，但以下情况除外：</p>
                    <ol class="list">
                    <li>用户同意让第三方共享资料；</li>
                    <li>用户同意公开其个人资料，享受为其提供的产品和服务；</li>
                    <li>本站需要听从法庭传票、法律命令或遵循法律程序；</li>
                    <li>本站发现用户违反了本站服务条款或本站其它使用规定。</li>
                    </ol>
                    <h4>使用说明</h4>
                    <p>团奥网用户可以通过设定的密码来保护帐户和资料安全。用户应当对其密码的保密负全部责任。请不要和他人分享此信息。如果您使用的是公共电脑，请在离开电脑时退出团奥网以保证您的信息不被后来的使用者获取。</p>
                    <h4>服务条款</h4>
                    <p>使用团奥网的服务同时受本站<a href="/about/press">用户协议</a>的约束。</p>
                </div>
            </div>
