<%#
# 页脚部分，与前面分离的
# and open the template in the editor.
%>
<div class="page_margins"> <div class="page" style="padding:0;">
    <!-- begin: #foot -->
    <div id="foot">
      <div id="ft">
        <p class="contact"><a href="/feedbacks/new">意见反馈</a></p>
        <ul class="cf">
          <li class="col">
            <h3>用户帮助</h3>
            <ul class="sub-list">
              <li><a href="/about/learn">玩转团奥</a></li>
              <li><a href="/about/faq">常见问题</a></li>
            </ul>
          </li>
          <li class="col">
            <h3>获取更新</h3>
            <ul class="sub-list">
              <li><a href="/about/maillist">邮件订阅</a></li>
              <li><a href="http://t.sina.com.cn/tuanao" target="_blank">团奥新浪微博</a></li>
              <li><a href="http://www.douban.com/group/tuanao/" target="_blank">团奥豆瓣小组</a></li>
              <li><a href="#" target="_blank">RSS订阅</a></li>
            </ul>
          </li>
          <li class="col">
            <h3>商务合作</h3>
            <ul class="sub-list">
              <li><a href="/sellers/new">提供团购信息</a></li>
            </ul>
          </li>
          <li class="col">
            <h3>公司信息</h3>
            <ul class="sub-list">
              <li><a href="/about">关于团奥</a></li>
              <li><a href="/about/job">加入我们</a></li>
              <li><a href="/about/privacy">隐私声明</a></li>
              <li><a href="http://www.inruby.com/about">技术支持</a></li>
            </ul>
          </li>
          <li class="col end">
            <div class="logo-footer">
              <a href="www.tuanao.html"><img src="/images/logo.png" alt="tuanao.com" height="50"/></a>                    </div>
          </li>
        </ul>
      </div><!--end foot-->
    </div>
  </div></div>
