<%#
# 用于实现城市切换
# and open the template in the editor.
%>
<!-- full skiplink functionality in webkit browsers -->
<script src="/yaml/core/js/yaml-focusfix.js" type="text/javascript"></script>
<!--51.la count-->
<script language="javascript" type="text/javascript" src="http://js.users.51.la/3739950.js"></script>
<noscript><a href="http://www.51.la/?3739950" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/3739950.asp" style="border:none" /></a></noscript>
<!--51.la count-->
