<%#
# 页脚部分，与前面分离的
# and open the template in the editor.
%>
<div id="footer">
  <div class="topbutton">
    <a href="#top" ><img width="43" height="18" border="0" alt="top" src="/image/top.png"/></a>
  </div>
  <div class="footerinfo">
    <div class="link">
      <a href="/about">关于团奥</a>
      <a href="/about/faq">使用帮助</a>
      <a href="/about/maillist">获取更新订阅</a>
      <a href="/about/job">加入我们</a>
      <a href="/about/privacy">隐私声明</a>
      <a href="http://www.inruby.com/about" target="_blank">技术支持</a>
    </div>
    <div class="copyright">
      inRuby TEAM inRuby.COM. All Rights Reserved.
    </div>
    <div style="clear:both"><div>
      </div>
    </div>
  </div>
</div>
