<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
 <DIV id="deal-share"><DIV class="deal-share-top"><DIV class="deal-share-links"><H4>分享到：</H4><UL class="cf">
  <LI><A class="im" href="javascript:void(0);" id="deal-share-im">MSN/QQ</A></LI>
  <LI><A galabel="default" class="kaixin" 
  href="http://www.kaixin001.com/repaste/share.php?rurl=http%3A%2F%2Fwww.tuanao.com%2today%3Fr%3Dk&rcontent=欢迎访问成都团奥网,享受你的每日团购生活&rtitle=your-daily-life" target="_blank">开心</A></LI>
  <LI><A galabel="default" class="renren" 
  href="http://share.renren.com/share/buttonshare.do?link=http%3A%2F%2Fwww.tuanao.com%2today%3Fr%3Dk&rcontent=欢迎访问成都团奥网,享受你的每日团购生活&rtitle=your-daily-life" target="_blank">人人</A></LI>
  <LI><A galabel="default" class="douban" 
  href="http://www.douban.com/recommend/?url=http%3A%2F%2Fwww.tuanao.com&rtitle=欢迎访问成都团奥网,享受你的每日团购生活" target="_blank">豆瓣</A></LI>
  <LI><A galabel="default" class="sina" 
  href="http://v.t.sina.com.cn/share/share.php?appkey=2924220432&url=http%3A%2F%2Fwww.tuanao.com&title=欢迎访问成都团奥网,享受你的每日团购生活!&pic=http%3A%2F%2Fwww.tuanao.com%2Fimages%2Flogo.png" target="_blank">新浪微博</A></LI>
<LI><A galabel="default" class="email" 
href="mailto:?subject=tuanao&body=www.tuanao.com" id="deal-buy-mailto">邮件</A></LI>
</UL></DIV></DIV>
<DIV class="deal-share-fix"></DIV>
<DIV id="deal-share-im-c">
<DIV class="deal-share-im-b">
<H3>把下面的内容通过 MSN 或 QQ 发送给好友：</H3>
<P>
<INPUT id="share-copy-text" type="text" value="http://www.tuanao.com/" size="30" class="f-input"> 
<INPUT id="share-copy-button" type="button" value="复制" class="formbutton">
</P></DIV></DIV></DIV>
