<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<img src="images/wahtpai.jpg"/>
<!--
 <div class="box">
        <h3>Topic One </h3>
        <div class="sub_box">
          <h2>邀请有奖</h2>
          <p>每邀请一位好友首次购买，您将获 <strong>10</strong> 元返利</p>
          <p><a href="/account/referrals" gaevent="InnerLink|Click|/InnerLink/DealSidebar/account/referrals">» 点击获取您的专用邀请链接</a></p>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="box">
        <h3>Topic One </h3>
        <div class="sub_box">
          <p>sdfsf</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>sdf </p>
        </div>
      </div>
      <br/>-->
      
