<%#
# To add some side bar components.
%>
<div id="sider">
  <p><a href="/about/faq"><img src="/image/help.jpg"/></a></p>
   <%#render :partial=>'layouts/side_share'%>
  <p>
  <h2>团奥网新版上线了！</h2>
  <p><a href="/feedbacks/new">团奥网将在2010-10-1正式运营！欢迎大家的参与。提前为本站提出宝贵意见将有好礼相送！</a></p>
  </p>
  <p><%=render :partial=>'layouts/share'%></p>
  
</div>