<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="share">
  <div class="sharetext">　分享本期团购给好友
    邀请大家一起来参加：
  </div>
  <div class="sharelink">
    <a href="#" >>>点此复制链接地址</a>
  </div>
</div>

